<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>trms</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLteTestServlet</display-name>
    <servlet-name>AdminLteTestServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.AdminLteTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLteTestServlet</servlet-name>
    <url-pattern>/AdminLteTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/admin/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListEmployeeServlet</display-name>
    <servlet-name>ListEmployeeServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.ListEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListEmployeeServlet</servlet-name>
    <url-pattern>/admin/ListEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttachmentServlet</display-name>
    <servlet-name>AttachmentServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.AttachmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttachmentServlet</servlet-name>
    <url-pattern>/attachment/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeServlet</display-name>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/employee/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeTypeServlet</display-name>
    <servlet-name>EmployeeTypeServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.EmployeeTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeTypeServlet</servlet-name>
    <url-pattern>/role/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EventSubmitServlet</display-name>
    <servlet-name>EventSubmitServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.EventSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventSubmitServlet</servlet-name>
    <url-pattern>/event/submit</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EventByEmployeeIdServlet</display-name>
    <servlet-name>EventByEmployeeIdServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.EventByEmployeeIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventByEmployeeIdServlet</servlet-name>
    <url-pattern>/event/employee/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EventCancelServlet</display-name>
    <servlet-name>EventCancelServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.EventCancelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventCancelServlet</servlet-name>
    <url-pattern>/event/cancel/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EventDSPendingServlet</display-name>
    <servlet-name>EventDSPendingServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.EventDSPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventDSPendingServlet</servlet-name>
    <url-pattern>/event/dspending</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EventTypeServlet</display-name>
    <servlet-name>EventTypeServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.EventTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventTypeServlet</servlet-name>
    <url-pattern>/eventtype/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradingFormatServlet</display-name>
    <servlet-name>GradingFormatServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.GradingFormatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradingFormatServlet</servlet-name>
    <url-pattern>/gradingformat/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttachmentUploadServlet</display-name>
    <servlet-name>AttachmentUploadServlet</servlet-name>
    <servlet-class>com.revature.trms.servlets.AttachmentUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttachmentUploadServlet</servlet-name>
    <url-pattern>/postattachment</url-pattern>
  </servlet-mapping>
</web-app>