<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>trms</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>AddEmployeeServlet</display-name>
		<servlet-name>AddEmployeeServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.AddEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddEmployeeServlet</servlet-name>
		<url-pattern>/admin/AddEmployee</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AdminLteTestServlet</display-name>
		<servlet-name>AdminLteTestServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.AdminLteTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLteTestServlet</servlet-name>
		<url-pattern>/AdminLteTestServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AttachmentServlet</display-name>
		<servlet-name>AttachmentServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.AttachmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttachmentServlet</servlet-name>
		<url-pattern>/attachment/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>AttachmentUploadServlet</display-name>
		<servlet-name>AttachmentUploadServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.AttachmentUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AttachmentUploadServlet</servlet-name>
		<url-pattern>/attachment/upload</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EmployeeServlet</display-name>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/employee/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>EmployeeSessionServlet</display-name>
		<servlet-name>EmployeeSessionServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EmployeeSessionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeSessionServlet</servlet-name>
		<url-pattern>/employeeinfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EmployeeTypeServlet</display-name>
		<servlet-name>EmployeeTypeServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EmployeeTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeTypeServlet</servlet-name>
		<url-pattern>/employee/types/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>EmptyServlet</display-name>
		<servlet-name>EmptyServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EmptyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmptyServlet</servlet-name>
		<url-pattern>/empty</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>EventApproveServlet</display-name>
		<servlet-name>EventApproveServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventApproveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventApproveServlet</servlet-name>
		<url-pattern>/event/approve</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventByEmployeeServlet</display-name>
		<servlet-name>EventByEmployeeServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventByEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventByEmployeeServlet</servlet-name>
		<url-pattern>/event/employee</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>EventByIdServlet</display-name>
		<servlet-name>EventByIdServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventByIdServlet</servlet-name>
		<url-pattern>/event/id/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventCancelServlet</display-name>
		<servlet-name>EventCancelServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventCancelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventCancelServlet</servlet-name>
		<url-pattern>/event/cancel/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventChangeServlet</display-name>
		<servlet-name>EventChangeServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventChangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventChangeServlet</servlet-name>
		<url-pattern>/event/changeamount</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventConfirmGradeServlet</display-name>
		<servlet-name>EventConfirmGradeServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventConfirmGradeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventConfirmGradeServlet</servlet-name>
		<url-pattern>/event/confirm/grade</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventConfirmPresentationServlet</display-name>
		<servlet-name>EventConfirmPresentationServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventConfirmPresentationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventConfirmPresentationServlet</servlet-name>
		<url-pattern>/event/confirm/presentation</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventDeniedServlet</display-name>
		<servlet-name>EventDeniedServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventDeniedServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventDeniedServlet</servlet-name>
		<url-pattern>/event/deny</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventPendingServlet</display-name>
		<servlet-name>EventPendingServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventPendingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventPendingServlet</servlet-name>
		<url-pattern>/event/pending</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventSubmitServlet</display-name>
		<servlet-name>EventSubmitServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventSubmitServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventSubmitServlet</servlet-name>
		<url-pattern>/event/submit</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>EventTypeServlet</display-name>
		<servlet-name>EventTypeServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.EventTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EventTypeServlet</servlet-name>
		<url-pattern>/event/type</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>GradingFormatServlet</display-name>
		<servlet-name>GradingFormatServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.GradingFormatServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GradingFormatServlet</servlet-name>
		<url-pattern>/gradingformat/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>InfoRequiredServlet</display-name>
		<servlet-name>InfoRequiredServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.InfoRequiredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoRequiredServlet</servlet-name>
		<url-pattern>/inforeq</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ListEmployeeServlet</display-name>
		<servlet-name>ListEmployeeServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.ListEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListEmployeeServlet</servlet-name>
		<url-pattern>/admin/ListEmployee</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.revature.trms.servlets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
</web-app>